<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>今日のみんなの家計簿</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form action='/logout' method="post">
      <input type="submit" value="ログアウト" style="position: absolute; right: 0px; top: 0px"/>
    </form>
    <h1>今日のみんなの家計簿</h1>
    今日のみんなの支出<%=  easysee(@sishutu.to_s) %>円<br>
    今日のみんなの収入<%= easysee(@shunyuu.to_s) %>円<br>
    *データを登録しないと支出の詳細は表示されません．
    <br>
    支出部門
    <div style="height:100px; overflow-y:scroll;">
      <table>
	<tr>
	  <th>日付</th>
	  <th>金額</th>
	  <th>用途</th>
	</tr>
	<% @a.each do |book| %>
	<% tmpdate=book.dateofuse.to_s %>
	<% if tmpdate == @strtime &&  book.sishu == "Spend"  %>
	<tr>
          <td><%= book.dateofuse %></td>
          <td><%= easysee(book.howmuch.to_s) %></td>
          <td><%= book.contents %></td>
	</tr>
  	<% end %>
	<% end %>
      </table>
    </div>



    収入部門
    <div style="height:100px; overflow-y:scroll;">
      <table>
	<tr>
	  <th>日付</th>
	  <th>金額</th>
	  <th>用途</th>
	</tr>
	<% @a.each do |book| %>
	<% tmpdate=book.dateofuse.to_s %>
	<% if tmpdate == @strtime && book.sishu == "Income"  %>
	<tr>
          <td><%= book.dateofuse %></td>
          <td><%= easysee(book.howmuch.to_s) %></td>
          <td><%= book.contents %></td>
	</tr>
	<% end %>
	<% end %>
      </table>
    </div>

  </body>
</html>
